@model FilkioPersonalPage.Models.SubResponce
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <title>Подписаться</title>
    <link rel="stylesheet" href="~/css/subscribe.css">
</head>
<body>
    <header>

        <nav class="subscribe">
            <a asp-action="subscribe">Подписаться</a>
        </nav>

        <hr class="hr-circle">

        <h1 class="padding-header">Подписаться</h1>
        <nav class="main">
            <a asp-action="Index">Главная</a>
            <a asp-action="aboutme">Обо мне</a>
            <a asp-action="contact">Мои проекты</a>
        </nav>

    </header>

    <main>
        <article class="article-info">

            <div>
                <div><h2>@Model.Name</h2></div>
                
            </div>
        </article>
    </main>
</body>
</html>

